<footer class="mastfoot mt-auto">
  <div class="inner">
    <p class="app-footer">Created for <b>Nisshoku Group</b>, by <a href="https://github.com/Taka-kun">@Hayami Takahiro</a>.</p>
  </div>
</footer>